.wrapper {
    margin: 0 auto;
    max-width: var(--maxWidth);
    height: 1024px;
    background: url('src/assets/image/Enter_page_light.jpg') no-repeat center;
    background-size: cover;

}
.blur {
    width: 100%;
    height: 100%;
    background: rgba(121, 156, 212, 0.5);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    padding: 64px 85.5px 174px 85.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logo {
    width: 309px;
    height: 76px;
    margin-bottom: 48px;
    & img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 576px) {
    .form {
        padding: 32px 16px 124px 16px;
    }
    .logo {
        width: 203px;
        height: 50px;
    }
}
