.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
    min-height: 1024px;
}

.sider {
    z-index: 100;
    background: white;
}
.ant-layout,
.ant-layout-footer {
    background: none;
}

.ant-layout-header {
    padding: 16px 24px;
    height: auto;
    line-height: 1;
    background-color: var(--primary-light-1);
}

.ant-layout.ant-layout-has-sider {
    background: url('./src/assets/image/main_page_light.png') no-repeat center;
    background-size: cover;
}
