#root {
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 1024px;
    width: 100%;
    height: 100%;
}



.ant-layout-has-sider {
    display: flex;
    flex-direction: row;
}

.ant-layout {
    width: 100%;
}
.ant-layout-sider {
    height: 1024px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
}
