@import "/src/pages/main-page/main-page.css";
@import "/src/pages/auth/ui/authPage.css";
@import '/src/utils/main.scss';

body {
    font-family: 'Inter', sans-serif;
    backdrop-filter: blur(12px);
    background: var(--primary-light-1);
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}



h1, h2, h3, h4, p {
    margin: 0;
}

a { color: inherit; }

html,
* {
    box-sizing: border-box;
    padding-left: 0;
    list-style-type: none;
    border: none;
    outline: none;
}
